@charset "utf-8";
/* CSS Document */
@page {
margin: 15mm 0mm 15mm 0mm;
widows: 2;
orphans: 4
}
@page :first {
margin: 0mm 0mm 20mm 0mm;
}
body {
	font-family:Helvetica;
	font-size:10pt;
	line-height:14pt;
	color:#333;
	margin-bottom:10mm;
}
/* Kopfzeile */
#header {
	display:none;
}
#headerprint img {
	width:100%;margin: 0mm 0mm 20mm 0mm;
}
.skunumber {position:absolute;right:0px;padding:155px 20px 0 0;font-family:Verdana, Geneva, sans-serif;font-weight:normal; font-size:30px; color:#043882;}

#wrapper {
	padding:0 20mm;
}
#footer {
	width:100%;
	border-top:5px solid #012f49;
}
#footer .inside {
	text-align:center;
	padding-top:20px;
}
/* Headlines */
h1, h4, h5 {
	font-family:Helvetica;
	margin:0mm 0mm 0mm 0mm;
	font-weight:normal;
	color:#043882;
	font-size:20pt;
			line-height:20pt;

}
h2 {
	color: #043882;
	font-size: 20pt;
		line-height:20pt;
	font-weight:normal;
	padding: 0px 0px 0px 0px;
	margin: 0mm 0mm 10mm 0mm;
}
h3 {
	font-family:Helvetica;
	margin:0mm 0mm 0mm 0mm;
	padding:10mm 0mm 0mm 0mm;
	font-weight:normal;
	color:#043882;
	font-size:16pt;
}
h5 {
	font-size:12pt;
}
/* Bilder */
.vendorsImage {
	margin: 0 0 20px 0;
}
.deviceImage {display:block;}
img {page-break-before:auto; page-break-after:auto; page-break-inside:avoid;}
/* Tabellen */
table {
	font-size:10pt;border-collapse:collapse; page-break-inside:avoid; margin: 10px 0px 30px 0px;width:100%;
}
td {
border: 1px solid #666; padding: 5px;
}
th {padding:5px; margin:0;border:1px solid #666;background:#DDD; color:#000;}
table.deviceandvendors {width:100%;}
.deviceandvendors td {border:0;}
/* Textformatierungen */
span.parameterName,span.parameterTechnical {font-weight:bold; color:#043882;}
span.parameterDescription {display:block;}


.icon_black {
    display: inline-block;
    border-radius: 4px;
    border-color: black;
    border-width: 1px;
    border-style:solid;
    width: 2em;
    background-color: black;
    color: white;
    text-align: center;
    font-weight:bold;
}

.icon_white {
    display: inline-block;
    border-radius: 4px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 4em;
    text-align: center;
    font-weight:bold;
}
.supportedCommandClasses {	font-size:17px;display:block; margin-top:20px;}
.quickstart {padding: 0 20px 10px 20px;border:1px solid #71a2c2; background:#FFF;}